/** BASE **/
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	font-family:Artial, Verdana, sans-serif;
}

/*****NAV*****/

.ag-nav{
	position: fixed;
	top:0px;
	height: 40px;
	width: 100%;
	background-color: red;
}
.ag-nav .ag-nav-items{
	padding-top: 12px;
	padding-left: 10px;
	width: 70%;
	float: left;
}
.ag-nav .ag-nav-items .ag-item{
	float:left;
	max-width: 10%;
	margin-right: 5px;
}
.ag-nav .ag-item-record{
	padding-top: 12px;
	float:right;
	width: 20px;
	padding-right: 10px;
}

/*****CONTENT*****/

.ag-content{
	padding-top: 50px;
	width: 100%;
}

/*****FOOTER*****/

/*****NAV*****/

.nav-glyphish-example .ui-btn { padding-top: 40px !important; }
.nav-glyphish-example .ui-btn:after { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#icon-about:after { background:  url("../img/atom.png") 50% 50% no-repeat; background-size: 24px 22px; }
#icon-home:after { background:  url("../img/doghouse.png") 50% 50% no-repeat; background-size: 24px 16px;  }
#icon-record:after { background:  url("../img/trumpet.png") 50% 50% no-repeat;  background-size: 12px 26px; }
#icon-social:after { background:  url("../img/at-sign.png") 50% 50% no-repeat;  background-size: 22px 27px; }





/** COLUMNS RESPONSIVE **/


