/** BASE **/
html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	font-family:Artial, Verdana, sans-serif;
}

/*****NAV*****/

.ag-nav{
	position: fixed;
	top:0px;
	height: 40px;
	width: 100%;
	background-color: red;
}
.ag-nav .ag-nav-items{
	padding-top: 12px;
	padding-left: 10px;
	width: 70%;
	float: left;
}
.ag-nav .ag-nav-items .ag-item{
	float:left;
	max-width: 10%;
	margin-right: 5px;
}
.ag-nav .ag-item-record{
	padding-top: 12px;
	float:right;
	width: 20px;
	padding-right: 10px;
}

/*****CONTENT*****/

.ag-content{
	padding-top: 50px;
	width: 100%;
}

/*****FOOTER*****/

/*****NAV*****/

.ag-footer{
	position: fixed;
	bottom:0px;
	height: 40px;
	width: 100%;
	background-color: red;
}
.ag-footer .ag-footer-items{
	padding-top: 15px;
	padding-left: 10px;
	width: 100%;
}
.ag-footer .ag-footer-items .ag-item{
	float:left;
	width: 25%;
}



/** COLUMNS RESPONSIVE **/


