
<li class="ui-li-has-thumb ui-first-child"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-caret-r">
    <audio id="player" src="{{item.get('audioURL')}}"></audio>
	<h2>{{item.get('username')}}</h2>
    <p>{{item.get('username')}}</p>
</a></li>
        	