
<li class="ui-li-has-thumb ui-first-child"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-caret-r">
	<img src="../_assets/img/apple.png" class="ui-li-thumb">
	<h2>{{name}}</h2>
    <p>{{username}}</p>
</a></li>
        	