<div data-role="footer" class="nav-glyphish-example" data-theme="a" data-position="fixed">
    <div data-role="navbar" class="nav-glyphish-example" data-grid="">
	    <ul>
	        <li><a href="#" id="icon-home" data-icon="custom" class="ui-btn-active">Home</a></li>
	        <li><a id="icon-record" data-icon="custom" href="#record" data-transition="slide">Record</a></li>
	        <li><a href="#" id="icon-about" data-icon="custom">About</a></li>
	        <li><a href="#" id="icon-social" data-icon="custom">Social</a></li>
	    </ul>
    </div>
</div>