<div data-role="footer" class="nav-glyphish-example" data-theme="a" data-position="fixed">
    <div data-role="navbar" class="nav-glyphish-example" data-grid="">
	    <ul>
	        <li><a href="#home" id="icon-home" data-icon="custom" data-transition="slide" class="ui-btn-active">Home</a></li>
	        <li><a id="icon-record" data-icon="custom" href="#filter" data-transition="slide">Record</a></li>
	        <li><a href="#about" id="icon-about" data-transition="slide" data-icon="custom">About</a></li>
	        <li><a href="http://www.twitter.com/sara_sgm" id="icon-social" data-transition="slide" data-icon="custom">Social</a></li>
	    </ul>
    </div>
</div>