<div class="ag-footer">
	<div class="ag-footer-items">
		<div class="ag-item"> AA </div>
		<div class="ag-item"> BB </div>
		<div class="ag-item"> CC </div>
		<div class="ag-item"> DD </div>
	</div>
</div>