<!DOCTYPE html>
<html data-ng-app="audiogram" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AudioGram</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     <link href="../css/main.css" rel="stylesheet" />


<!-- Latest compiled and minified JavaScript -->
<script src="../scripts/vendor/jquery-2.1.0.min.js"></script>




 
</head>
<body>
    {% include 'nav.twig' %}
    <div class="ag-content" >

        <section class="main-button">
            <div class="container-fluid">
                <button class='recordButton'> Record </button>
            </div>
        </section>

        <section class="top-content">
            <div class="container-fluid">
                <div class="row">

                </div>
        </div>
        </section>
        
    </div>
        {% include 'footer.twig' %}
    <script src="../scripts/recorder.js"></script>
    <script data-main="../scripts/main" src="../scripts/vendor/require.js"></script>
</body>
</html>
