<!DOCTYPE html>
<html data-ng-app="audiogram" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AudioGram</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     
     <link href="/css/jquery.mobile.structure-1.4.5.min.css" rel="stylesheet" />
     <link href="/css/jquery.mobile.icons.min.css" rel="stylesheet" />
     <link href="/css/audiogram.min.css" rel="stylesheet" />
     <link href="/css/main.css" rel="stylesheet" />



<!-- Latest compiled and minified JavaScript -->
<script src="../scripts/vendor/jquery-2.1.0.min.js"></script>
<script src="../scripts/jquery.mobile-1.4.5.min.js"></script>
<script src="//www.parsecdn.com/js/parse-1.4.2.min.js"></script>




 
</head>
<body>
    <div data-role="page" id="home">

        {% include 'nav.twig' %}


        <div role="main" class="ui-content">

        <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">

             {% for audiogramitem in audiogramitems %}
                {% include 'audiogramitem.twig' with {'item': audiogramitem} only %}
            {% endfor %}

        </ul>

        </div><!-- /content -->
        {% include 'footer.twig' %}

    </div><!-- /page one -->
    
    <div data-role="page" id="record">

        {% include 'nav.twig' %}

        <div role="main" class="ui-content">

            <button class='recordButton'> Record </button>

        </div><!-- /content -->
        {% include 'footer.twig' %}

    </div><!-- /page one -->

    <div data-role="page" id="filter">

        {% include 'nav.twig' %}

        <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">

             {% for audiogramitem in audiogramitems %}
                {% include 'audiogramitem.twig' with {'item': audiogramitem} only %}
            {% endfor %}

        </ul>

        {% include 'footer.twig' %}

    </div><!-- /page one -->
        
    <script src="../scripts/recorder.js"></script>
    <script src="../scripts/tuna.js"></script>
    <script data-main="../scripts/main" src="../scripts/vendor/require.js"></script>
</body>
</html>
