<!DOCTYPE html>
<html data-ng-app="audiogram" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AudioGram</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     <link href="../css/main.css" rel="stylesheet" media="screen" />
     <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="../css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="../css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="../scripts/vendor/jquery-2.1.0.min.js"></script>
<script src="../scripts/vendor/bootstrap.min.js"></script>



 
</head>
<body>

    <div >

        <section class="main-button">
            <div class="container-fluid">
                <button class='recordButton'> Record </button>
            </div>
        </section>

        <section class="top-content">
            <div class="container-fluid">
                <div class="row">

                </div>
        </div>
        </section>
        
    </div>
    <script src="../scripts/recorder.js"></script>
    <script data-main="../scripts/main" src="../scripts/vendor/require.js"></script>
</body>
</html>
